#root {
margin: 0;
padding: 0;
}

* {
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#evetns{
    background-image: url("../src/assets/images/eventback.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}